html,body {
	background: -webkit-linear-gradient( to left top, #f5ebe0, #e3d5ca);
	background: -moz-linear-gradient( to left top, #f5ebe0, #e3d5ca);
	background: -ms-linear-gradient( to left top, #f5ebe0, #e3d5ca);
	background: -o-linear-gradient( to left top, #f5ebe0, #e3d5ca);
	background-image: linear-gradient(to left top, #f5ebe0, #e3d5ca);
	background-attachment: fixed; 
}
.container {
	max-width: 700px;
	margin: auto;
}
.container h1, .container p {
	text-align: center;
}
.container img {
	display: block;
	margin: 1em auto;
	padding: 1em 0;
}
.container a.return {
	text-align: center;
	display: block;
	padding: 2em 0;
}
.container a:hover {
	color: #FFBD33;
}	
.container h2 {
	margin: 2em 0 0;
}
.container ul, .container ol {
	margin: 1em 0;
}
.container li {
	line-height: 2;
}
#recipes {
	text-align: center;
	margin: auto;
	list-style-type: none;
}
#recipes ul, #recipes li {
	text-decoration: none;
}